:root {
  font-size: 14px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
body::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.App-Container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #0f0f0f;
}

.App {
  height: auto;
  width: 100%;
  max-width: 1600px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 15px 15px;
  background: #0f0f0f;
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 110;
}

.noResultsFound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.noResultsFound span {
  color: cyan;
}

.lfjldfsfklasjdf-dsfklasd {
  color: #777;
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  top: -45px;
  line-height: 22px;
}

.hdf-sffjlasf-j {
  font-size: 2.2em;
  color: #f1f1f1;
  position: relative;
  top: -50px;
}

.Home {
  width: 100%;
}

.Loading {
  height: 80vh;
  width: 100%;
  background: #0f0f0f;
  position: relative;
}

.Search-Results {
  width: 100%;
}

.menu-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  color: #f1f1f1;
  font-size: 1.4rem;
  cursor: pointer;
}

.exit-arrow {
  display: none;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #333;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.5px;
}
.search-input input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #f1f1f1;
  padding: 10px 60px 10px 20px;
  border: 1px solid #444;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50vw;
  outline: none;
}

.pc-only-enable {
  display: flex;
}

.search-highlights {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: #f1f1f1;
  padding: 12px 20px 12px 20px;
  border-radius: 40px;
  width: 100%;
  outline: none;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  background: #222;
  display: none;
}

.search-highlights:hover {
  background: #333;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons img {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.CategoryNavbar {
  background: #0f0f0f;
  display: flex;
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CategoryNavbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.nav-category-box {
  background: #292929;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  color: #f1f1f1;
  margin-right: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.nav-category-box:hover {
  animation: 0.5s hoverEffect ease;
  background: #353535;
}

.active-category-box {
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  background: #f1f1f1;
  color: black;
  white-space: nowrap;
}

.SideNavbar {
  max-width: 300px;
  position: relative;
  height: calc(100vh - 70px);
  padding: 10px 10px 20px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s ease;
  flex-wrap: nowrap;
  white-space: nowrap;
  z-index: 110;
  background: #0f0f0f;
}
.SideNavbar::-webkit-scrollbar {
  width: 9px;
}
.SideNavbar::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 50px;
  display: none;
}

.ee-ee-eyas {
  font-size: 3rem;
  color: #f1f1f1;
}

.active {
  background: #292929;
}

.SideNavbar:hover::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
  display: flex;
}

.open {
  width: 30vw;
}

.close {
  padding: 0px;
  width: 0px;
}

.VideoContainer {
  width: 100%;
}

.Contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Navigate-boxes {
  padding: 10px;
  width: 100%;
  font-size: 1.3rem;
  color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #f1f1f1;
}
.Navigate-boxes img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.Navigate-boxes:hover {
  background: #292929;
}

.First-section {
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid #333;
}

.Second-section {
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid #333;
}

.Third-section {
  padding: 10px 0px 10px 0px;
}

.Videos-Handler-Container-yt {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0px 0px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 70px);
}
.Videos-Handler-Container-yt::-webkit-scrollbar {
  width: 10px;
}
.Videos-Handler-Container-yt::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 50px;
}

.Creator-profile-info-yt {
  overflow-y: scroll;
  height: calc(100vh - 70px);
}
.Creator-profile-info-yt::-webkit-scrollbar {
  width: 10px;
}
.Creator-profile-info-yt::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 50px;
}

.epy-exit {
  font-size: 40px;
  padding: 8px;
  border-radius: 40px;
  background: #444;
  cursor: pointer;
  position: absolute;
  color: #f1f1f1;
  top: 4%;
  left: 3%;
}

.grid-video-container {
  width: 90%;
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.four-column {
  width: 90%;
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.VideoBox {
  width: 100%;
  cursor: pointer;
}

.thumbnail-img {
  width: 100%;
  height: 200px;
  position: relative;
}
.thumbnail-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video-information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.video-information img {
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.more-video-options {
  color: #f1f1f1;
  position: absolute;
  right: -1%;
  font-size: 30px;
  z-index: 100;
  padding: 4px;
  border-radius: 50px;
}

.more-options-here {
  width: 200px;
  background: #222;
  position: absolute;
  top: 5%;
  right: 0%;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
}
.more-options-here p {
  padding: 10px 30px 10px 10px;
  width: 100%;
  font-size: 1.2rem;
  width: 100%;
  color: #f1f1f1;
  white-space: nowrap;
}
.more-options-here p:hover {
  background: #333;
}

.History {
  width: 100%;
}

.ss-h {
  width: 0px;
}

.ss-s {
  width: 240px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  font-size: 1.2rem;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-logo {
  height: 22px;
}

.notification {
  background: #f1f1f1;
  color: #0f0f0f;
  padding: 18px;
  border-radius: 10px;
  font-size: 1.3rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11000;
  transition: 0.5s ease;
  width: 90vw;
  max-width: 500px;
  text-align: center;
}

.noti-show {
  top: 6%;
}

.noti-hide {
  top: -100%;
}

.text-information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 27px 0px 15px;
}

.channel-name {
  color: #aaa;
  display: flex;
  align-content: center;
  justify-content: center;
}

.view-and-uploaded-at {
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  font-size: 0.9rem;
}

.video-duration {
  padding: 5px;
  background: black;
  font-size: 0.8rem;
  color: #f1f1f1;
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
}

.VideoPlayer-Container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Video-Container {
  width: 90%;
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.Video {
  width: 100%;
  background: black;
}
.Video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.VideoPlayer-Layout {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.VideoInformation {
  width: 100%;
  padding: 15px 20px 20px 0px;
}

.pc-big {
  font-size: 1.6rem;
}

.channel-name-and-subscribe-yt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.yt-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yt-center-flex img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.creator-yt-info {
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.creator-yt-info p {
  font-size: 1.2rem;
  color: #f1f1f1;
}
.creator-yt-info span {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 2px;
}

.subscribe {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #f1f1f1;
  color: black;
  border-radius: 50px;
  padding: 10px 13px 10px 13px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 40px;
}

.subscribed {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #f1f1f1;
  background: #292929;
  border-radius: 50px;
  padding: 10px 13px 10px 13px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 40px;
}

.pf-info-input {
  margin-top: 10px;
}

.edit-profile {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #f1f1f1;
  background: #292929;
  border-radius: 50px;
  padding: 10px 13px 10px 13px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 40px;
}

.like-and-dislike {
  background: #292929;
  color: #f1f1f1;
  border-radius: 50px;
  font-size: 1rem;
  min-width: 110px;
  cursor: pointer;
  margin-left: 40px;
  width: 160px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #f1f1f1;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.comment-like {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #aaa;
  cursor: pointer;
  padding: 5px;
  font-size: 23px;
  border-radius: 50%;
  position: relative;
  color: #f1f1f1;
}

.comment-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #aaa;
  cursor: pointer;
  padding: 5px;
  font-size: 23px;
  border-radius: 50%;
  position: relative;
  color: #f1f1f1;
}

.yt-like-btn-comments-yt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.comments-counter {
  font-size: 1rem;
  color: #aaa;
  margin-left: 2px;
}

.like-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #f1f1f1;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  border-radius: 50%;
}

.comment-dislike:hover {
  background: #333;
}

.comment-like:hover {
  background: #333;
}

.like-icon:hover {
  background-color: #444;
}

.dislike-icon:hover {
  background: #444;
}

.dislike {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dislike-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: #f1f1f1;
  cursor: pointer;
  margin-left: 20px;
}

.like:hover {
  background: #444;
}

.dislike:hover {
  background: #444;
}

.line {
  background: #444;
  width: 2px;
  height: 80%;
}

.share {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #292929;
  color: #f1f1f1;
  border-radius: 50px;
  padding: 7px 13px 7px 13px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #292929;
  color: #f1f1f1;
  border-radius: 50px;
  padding: 7px 13px 7px 13px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #292929;
  color: #f1f1f1;
  border-radius: 50px;
  padding: 4px 13px 4px 13px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  display: none;
  align-items: center;
  justify-content: center;
}

.more-options-by-yt {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.more-options-by-yt::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.share:hover {
  background-color: #444;
}

.save:hover {
  background-color: #444;
}

.comment:hover {
  background-color: #444;
}

.Discription {
  background: #292929;
  width: 100%;
  padding: 10px;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.5s ease;
  z-index: 2000;
}
.Discription::-webkit-scrollbar {
  width: 0px;
}

.discription-txt {
  line-height: 24px;
  color: #f1f1f1;
  font-size: 1rem;
  margin-top: 10px;
}

.handle-show {
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: #444;
  padding: 2px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.CommentSection {
  width: 100%;
  margin-top: 20px;
  padding: 0px 20px 70px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 2000;
}

.add-comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 10px 0px;
}
.add-comment img {
  border-radius: 50%;
  margin-right: 20px;
}

.add-comment-input {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.add-comment-input input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  border-bottom: 2px solid #444;
  padding: 6px;
  font-size: 1.3rem;
  color: #f1f1f1;
  outline: none;
  width: 100%;
}

.comments-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.comments-btn-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 50px;
  padding: 10px 13px 10px 13px;
  font-size: 1rem;
  cursor: pointer;
  color: #f1f1f1;
  margin-left: 10px;
}

.see-more {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  border-radius: 50px;
  padding: 10px 13px 10px 13px;
  font-size: 1rem;
  cursor: pointer;
  color: #337aff;
  margin-left: 10px;
}

.see-more:hover {
  background: rgba(51, 122, 255, 0.2823529412);
}

.cancle {
  background: transparent;
}

.cancle:hover {
  background: #444;
}

.comment-btn {
  background: #292929;
}

.UserCommentBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.UserCommentBox img {
  border-radius: 50%;
}

.comments-here {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.user-information-comments-box {
  margin-left: 20px;
  width: 100%;
}

.ColumnVideoLayout {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 20px;
  flex-direction: column;
  background: #0f0f0f;
}

.Profile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.Creator-profile-info-yt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.banner-container {
  width: 100%;
  height: 250px;
}
.banner-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.User-info-yt-with-creator-info {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.Watchlater {
  width: 100%;
}

.mobile-search {
  display: none;
}

.creator-name-subscriber-yt {
  margin-left: 20px;
}

.profile-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.creator-info-logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.creator-info-logo-name p {
  font-size: 1.5rem;
  color: #f1f1f1;
  margin-bottom: 3px;
}
.creator-info-logo-name span {
  font-size: 1.1rem;
  color: #aaa;
}

.UploadVideo-rgb {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1120;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  transition: 0.5s ease;
}

.suggestions-container {
  width: 100%;
  background: #0f0f0f;
  position: absolute;
  top: 40%;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  max-height: 400px;
  overflow-y: scroll;
}
.suggestions-container::-webkit-scrollbar {
  width: 8px;
}
.suggestions-container::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 40px;
}
.suggestions-container p {
  padding: 1px 10px 1px 10px;
  width: 100%;
  text-align: start;
  color: #f1f1f1;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
}

.search-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.relative-suggestions-search-yt {
  width: 100%;
  position: relative;
}

.Upload-video-box {
  width: 70%;
  max-height: 90%;
  padding: 20px 20px 40px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.79);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.Upload-video-box::-webkit-scrollbar {
  width: 8px;
}
.Upload-video-box::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 20px;
}

.video-information-enter-here {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 10px 0px 20px;
  margin-right: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.video-information-enter-here input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 13px;
  font-size: 1.3rem;
  color: #f1f1f1;
  margin-top: 10px;
  background: #111;
  border-radius: 10px;
  width: 100%;
  outline: none;
}
.video-information-enter-here textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 13px;
  font-size: 1.3rem;
  color: #f1f1f1;
  margin-top: 20px;
  background: #111;
  border-radius: 10px;
  width: 100%;
  outline: none;
  line-height: 28px;
  resize: none;
}
.video-information-enter-here textarea::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.video-information-enter-here::-webkit-scrollbar {
  width: 8px;
}
.video-information-enter-here::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 20px;
}

.video-demo-container {
  background: #0f0f0f;
}

.informtion-demo-here {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.video-preview-container {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
  position: sticky;
  top: 0%;
}

.thumbnail-upload {
  width: 100%;
  height: 300px;
  background: #222;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail-upload img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-information-yt-video-upload {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}
.video-information-yt-video-upload input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 13px;
  font-size: 1.3rem;
  color: #f1f1f1;
  margin-top: 10px;
  background: #222;
  border-radius: 10px;
  width: 100%;
  outline: none;
}
.video-information-yt-video-upload textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 13px;
  font-size: 1.3rem;
  color: #f1f1f1;
  margin-top: 20px;
  background: #222;
  border-radius: 10px;
  width: 100%;
  outline: none;
  line-height: 28px;
  resize: none;
}
.video-information-yt-video-upload textarea::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.tags-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  white-space: nowrap;
}

.tags {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 13px;
  font-size: 1.3rem;
  color: #f1f1f1;
  margin-top: 10px;
  background: #222;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.tag {
  padding: 10px 15px 10px 15px;
  font-size: 1.1rem;
  color: #f1f1f1;
  background: #666;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 7px;
}

.publish {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 10px;
  font-size: 1.3rem;
  color: #f1f1f1;
  background: #337aff;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  min-width: 200px;
}

.container-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0%;
  height: 100vh;
  background: #0f0f0f;
  z-index: 10000;
}

.select-video-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  padding: 7px 10px;
  border: 1px solid #00a6ff;
  color: #00a6ff;
  font-size: 1.3rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.select-video-btn:hover {
  background: rgba(0, 166, 255, 0.1960784314);
}

.sign-in-user {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  padding: 5px 10px;
  border: 1px solid #00a6ff;
  color: #00a6ff;
  font-size: 1.2rem;
  cursor: pointer;
}
.sign-in-user:hover {
  background: rgba(0, 166, 255, 0.1960784314);
}

.login-container {
  padding: 30px;
  width: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.login-container p {
  font-size: 1.8rem;
  color: #f1f1f1;
}
.login-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 12px;
  border-radius: 40px;
  width: 100%;
  color: white;
  font-size: 1.3rem;
  background: #00a6ff;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container span {
  font-size: 1.3rem;
  color: #898989;
  cursor: pointer;
}

.user-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.user-inputs input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 16px 16px 16px 60px;
  font-size: 1.3rem;
  background: #202020;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  color: #f1f1f1;
  outline: none;
}
.user-inputs span {
  width: 100%;
  text-align: end;
  font-size: 1.1rem;
  color: #898989;
  margin-top: 10px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #545454;
  margin-top: 20px;
  font-size: 1.1rem;
}

.input-icons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.register-container {
  padding: 30px;
  width: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.register-container p {
  font-size: 1.8rem;
  color: #f1f1f1;
}
.register-container button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 12px;
  border-radius: 40px;
  width: 100%;
  color: white;
  font-size: 1.3rem;
  background: #00a6ff;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-container span {
  font-size: 1.3rem;
  color: #898989;
  cursor: pointer;
}

.person-1 {
  background: linear-gradient(to right, #ff6d63, #db1e5e);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 20px;
  color: #0f0f0f;
  border-radius: 60px;
  padding: 4px;
}

.RecipePage {
  height: 100%;
  width: 100%;
}

.verifying-user-heading {
  font-size: 6rem;
  color: red;
}

.topic-header {
  color: #3fcaa9;
  font-size: 1.4rem;
}

.verifying {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verifying-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  font-size: 2rem;
  color: white;
}

.Verifying-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #0f0f0f;
  z-index: 10000;
}
.Verifying-user p {
  margin-bottom: 0px;
}

.back-home {
  font-size: 1.4rem;
  color: #49adff;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.nothing-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(80vh - 80px);
  flex-direction: column;
  overflow: hidden;
}

.entering-logo-yt {
  height: 500px;
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.video {
  width: 100%;
  height: 100%;
  background: black;
}

.form-type {
  width: 90%;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.pre {
  white-space: pre-wrap;
  padding: 10px;
  word-wrap: break-word;
  font-size: 1rem;
}

.comment-flex-yt-container-user {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.more-options {
  padding: 5px;
  font-size: 2.3rem;
  color: #f1f1f1;
  border-radius: 50px;
  position: relative;
  z-index: 100;
  position: absolute;
  right: 0%;
  margin-top: 5px;
}

.more-options:hover {
  background: #333;
}

.options-comment-delete {
  padding: 12px 61px 12px 12px;
  font-size: 1.1rem;
  background-color: #333;
  color: #f1f1f1;
  position: absolute;
  right: 0%;
  /* top: 3%; */
  cursor: pointer;
  white-space: nowrap;
}

.options-comment-delete:hover {
  background: #333;
}

.four {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.four .thumbnail-img {
  height: 180px;
}

.info-mobile-view-yt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 5px;
}

.seprator-span {
  display: none;
  font-size: 1.3rem;
}

.abosolute {
  position: absolute;
  background: #0f0f0f;
  left: 0%;
  z-index: 100;
  width: 20vw;
}

.BottomNavbar {
  width: 100vw;
  height: 70px;
  background-color: #0f0f0f;
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1001;
  display: none;
}

.column {
  flex-direction: column;
  margin: 0px 5px 0px 5px;
}
.column .active {
  background: #0f0f0f;
}

.menu-icon {
  font-size: 24px;
  margin-right: 20px;
  color: #f1f1f1;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}

.rgba-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease;
  z-index: 100;
  display: none;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.pc {
  display: flex;
}

.mob {
  display: none;
}

.component-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  background: #0f0f0f;
  z-index: 120;
  padding: 10px;
  justify-content: flex-start;
  transition: 0.5s ease;
}
.component-page input {
  width: 100%;
  font-size: 1.5rem;
  background: #222;
  border: none;
}
.component-page .suggestions-container {
  width: 100%;
  border: none;
  max-height: none;
  font-size: 1.3rem;
}
.component-page .suggestions-container::-webkit-scrollbar {
  width: 0px;
}
.component-page .suggestions-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.page-heading-p {
  font-size: 1.5rem;
  color: #f1f1f1;
}

.exit-arrow {
  font-size: 39px;
  color: #f1f1f1;
  border-radius: 40px;
  padding: 8px;
  background: #222;
  margin-right: 10px;
  min-width: 40px;
}

.search-suggestions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  margin: 8px 0px 8px 0px;
  min-height: 48px;
}
.search-suggestions:hover {
  background: #222;
}

.loading-img {
  background: linear-gradient(to left, #202020, #181818);
  width: 58px;
  height: 50px;
  border-radius: 50px;
}

.mob-view {
  display: none;
}

.pc-view {
  display: block;
}

.loading-container-videoplayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.loading-video-information {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}

.loading-video-column-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
}

.loading-box {
  width: 100%;
  height: 240px;
  background: linear-gradient(to left, #202020, #181818);
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

.loading-title {
  width: 100%;
  margin-left: 20px;
}

.video-loading {
  height: 58vw;
  width: 100%;
  max-height: 550px;
}

.share-box {
  width: 400px;
  border-radius: 10px;
  position: relative;
  padding: 30px 10px 30px 10px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.091);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.Profile {
  width: 100%;
}

.banner-absolute {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 115px;
}
.banner-absolute img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.save-changes {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background: #0090de;
  color: #f1f1f1;
  border-radius: 10px;
  padding: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  outline: none;
}

.disabled {
  background: rgba(0, 166, 255, 0.4);
  cursor: not-allowed;
  outline: none;
}

.change-bbn-nn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  font-size: 35px;
}

.highlight {
  cursor: pointer;
  padding: 4px;
  border-radius: 10px;
  background: rgba(69, 69, 69, 0.79);
}

.pro-ff-yt {
  position: absolute;
  right: 0%;
  bottom: 11%;
  font-size: 30px;
  z-index: 100;
  color: #f1f1f1;
}

.url-here {
  width: 100%;
  position: relative;
  margin-top: 40px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.url-here input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 14px 80px 14px 14px;
  border-radius: 10px;
  width: 100%;
  color: #f1f1f1;
  font-size: 1.3rem;
  background: #111;
  outline: none;
  color: rgb(0, 140, 255);
}
.url-here span {
  position: absolute;
  color: #f1f1f1;
  border-radius: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
}

.share-more-options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 30px;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
}
.share-more-options img {
  width: 65px;
  height: 65px;
  border-radius: 20%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.more-box {
  height: 7vw;
  border-radius: 10px;
}

.logout {
  background: #0f0f0f;
}

.loadingSpan {
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 6px;
  background-color: #00a6ff;
  border-radius: 40px;
  animation: loadingLine 2s infinite;
}

.uploading-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(28, 28, 28, 0.79);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploading-container p {
  font-size: 3rem;
  color: #0090de;
}

@keyframes loadingLine {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@media (max-width: 1400px) {
  .four {
    grid-template-columns: r200at(3, minmax(0, 1fr));
  }
  .four .thumbnail-img {
    height: 16vw;
  }
  .grid-video-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-video-container .thumbnail-img {
    height: 16vw;
  }
  .SideNavbar {
    width: 33vw;
    position: absolute;
    left: 0%;
    background: #0f0f0f;
  }
  .open {
    left: 0%;
  }
  .close {
    left: -100%;
  }
  .rgba-container {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .channel-name-and-subscribe-yt-container {
    width: 100%;
    flex-direction: column;
  }
  .Upload-video-box {
    width: 80%;
  }
  .yt-center-flex {
    width: 100%;
    justify-content: space-between;
  }
  .more-options-by-yt {
    width: 100%;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .Video-Container {
    width: 100%;
  }
  .VideoInformation {
    padding: 15px 20px 20px 20px;
  }
  .CommentSection {
    position: fixed;
    top: 18%;
    background: #0f0f0f;
    height: 100%;
    overflow: scroll;
    border-radius: 20px;
    padding: 10px 20px 220px 20px;
    transition: 0.5s ease;
  }
  .CommentSection::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .comment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px 7px 10px;
  }
  .comment span {
    top: 0px;
  }
  .like-and-dislike {
    margin-left: 0px;
  }
  .more-box {
    height: 14vh;
  }
  .ColumnVideoLayout {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  .four {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .four .thumbnail-img {
    height: 18vw;
  }
  .grid-video-container {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-video-container .thumbnail-img {
    height: 18vw;
  }
  .Video-Container {
    flex-direction: column;
  }
  .loading-video-column-container {
    margin-top: 20px;
  }
  .pc-view {
    display: none;
  }
  .mob-view {
    display: block;
  }
  .ColumnVideoLayout {
    width: 100%;
  }
  .VideoPlayer-Layout {
    width: 100%;
  }
  .more-box {
    height: 28vw;
  }
  .big-title {
    font-size: 1.4rem;
  }
  .big-name {
    font-size: 1.2rem;
  }
  .channel-name {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .view-and-uploaded-at {
    font-size: 1rem;
  }
  .Upload-video-box {
    flex-direction: column;
    justify-content: flex-start;
  }
  .Upload-video-box::-webkit-scrollbar {
    width: 0px;
  }
  .video-preview-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .video-information-enter-here {
    width: 100%;
    padding: 0px;
    overflow: visible;
  }
}
@media (max-width: 800px) {
  .pc-only-enable {
    display: none;
  }
  .ee-ee-eyas {
    font-size: 2.8rem;
  }
  .four {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .four .thumbnail-img {
    height: 27vw;
  }
  .Upload-video-box {
    width: 90%;
  }
  .grid-video-container {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-video-container .thumbnail-img {
    height: 27vw;
  }
  .search-input {
    display: none;
  }
  .search-highlights {
    display: flex;
  }
  .exit-arrow {
    display: flex;
  }
  .more-box {
    height: 27vw;
  }
  .mobile-search {
    display: flex;
  }
  .comment-like {
    font-size: 19px;
  }
  .comment-dislike {
    font-size: 19px;
  }
  .Creator-profile-info-yt::-webkit-scrollbar {
    width: 0px;
  }
  .User-info-yt-with-creator-info {
    width: 100%;
  }
  .profile-page-header {
    padding: 0px 15px 0px 15px;
  }
}
@media (max-width: 600px) {
  .share-box {
    width: 90vw;
  }
  .noResultsFound span {
    width: 80%;
  }
  .ee-ee-eyas {
    font-size: 2rem;
  }
  .notification {
    font-size: 1.5rem;
  }
  .SideNavbar {
    width: 60vw;
  }
  :root {
    font-size: 12px;
  }
  .Videos-Handler-Container-yt {
    padding: 0px;
    padding-bottom: 80px;
  }
  .four {
    row-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .four .thumbnail-img {
    height: 55vw;
  }
  .four .thumbnail-img img {
    border-radius: 0px;
  }
  .grid-video-container {
    row-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-video-container .thumbnail-img {
    height: 55vw;
  }
  .grid-video-container .thumbnail-img img {
    border-radius: 0px;
  }
  .video-information {
    padding: 10px;
  }
  .Videos-Handler-Container-yt::-webkit-scrollbar {
    width: 0px;
  }
  .info-mobile-view-yt {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .info-mobile-view-yt p {
    margin-top: 0px;
  }
  .info-mobile-view-yt span {
    margin-top: 0px;
  }
  .view-and-uploaded-at {
    margin-top: 0px;
    color: #aaa;
  }
  .seprator-span {
    display: flex;
  }
  .Contents {
    display: block;
  }
  .channel-name {
    margin-top: 5px;
  }
}
.show-container {
  opacity: 1;
  z-index: 100;
}

.hide-container {
  opacity: 0;
  display: none;
}

.video-info-and-comments-here {
  position: relative;
  width: 100%;
}

.show-search {
  right: 0%;
}

.hide-search {
  right: -100%;
}

@media (max-width: 550px) {
  .search-highlights {
    font-size: 1.4rem;
  }
  :root {
    font-size: 11px;
  }
  .title {
    line-height: 17px;
    font-size: 1.3rem;
  }
  .VideoInformation {
    padding: 15px 10px 15px 10px;
  }
  .Video-Container {
    padding: 0px;
  }
  .Discription {
    position: fixed;
    top: 14%;
    height: 100%;
    overflow: scroll;
    border-radius: 20px;
    left: 0;
    font-size: 1.2rem;
    background: #0f0f0f;
    padding: 20px 10px 220px 10px;
  }
  .VideoPlayer-Container {
    position: absolute;
    top: 0%;
    /* overflow: scroll; */
    background: #0f0f0f;
    z-index: 1000;
  }
  .pc {
    display: none;
  }
  .mob {
    display: flex;
  }
  .view-and-uploaded-at {
    font-size: 1.4rem;
  }
  .pre {
    font-size: 1.2rem;
  }
  .menu-icon {
    display: none;
  }
  .BottomNavbar {
    display: flex;
  }
  .channel-name {
    font-size: 1.3rem;
  }
  .Navbar {
    padding: 10px;
  }
  .view-and-uploaded-at {
    font-size: 1.1rem;
  }
  .channel-name {
    margin-bottom: 2px;
  }
  .VideoPlayer-Layout {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .ColumnVideoLayout {
    height: 100%;
    padding: 0px 0px 70px 10px;
    overflow: scroll;
  }
  .ColumnVideoLayout::-webkit-scrollbar {
    width: 0px;
  }
  .VideoInformation {
    padding: 15px 10px 15px 0px;
  }
  .VideoPlayer-Container {
    height: 100%;
  }
  .VideoPlayer-Container::-webkit-scrollbar {
    width: 0px;
  }
  .VideoContainer {
    height: 100%;
  }
  .Navigate-boxes:hover {
    background: #0f0f0f;
  }
  .active {
    background: #0f0f0f;
  }
  .banner-container {
    height: 100px;
  }
}
@media (max-width: 350px) {
  :root {
    font-size: 9px;
  }
}
@keyframes hoverEffect {
  0% {
    background: #292929;
  }
  50% {
    background: #333333;
  }
  100% {
    background: #353535;
  }
}
.closeaboslute {
  left: -100%;
}

.openabsolute {
  left: 0%;
}

.open-comments {
  top: 18%;
}

.hide-comments {
  top: 200%;
}

.hide-discription {
  top: 200%;
}

.open-discription {
  top: 18%;
}

.bottom-hide {
  top: 200%;
}

.top-show {
  top: 0%;
}

.index-high {
  z-index: 1000;
}

.more-index-high {
  z-index: 2000;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=global.css.map */